Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/SharedWcfService/SharedWcfService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Shared.ServiceEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Shared.ServiceEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/SharedWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:complexType name="ChkContainerResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" base="q1:ExecuteResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="BinCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContainerCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChkContainerResult" nillable="true" type="tns:ChkContainerResult" />
</xs:schema>