Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/SharedWcfService/SharedWcfService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfF194714">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F194714" nillable="true" type="tns:F194714" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF194714" nillable="true" type="tns:ArrayOfF194714" />
  <xs:complexType name="F194714">
    <xs:sequence>
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISLASTSTATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_DESC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TCAT_DESC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F194714" nillable="true" type="tns:F194714" />
  <xs:complexType name="ArrayOfF194715">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F194715" nillable="true" type="tns:F194715" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF194715" nillable="true" type="tns:ArrayOfF194715" />
  <xs:complexType name="F194715">
    <xs:sequence>
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUSTOMER_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FTP_ACCOUNT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FTP_DOWNLOADPATH_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FTP_IP_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FTP_PASSWORD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FTP_UPLOADBACKPATH_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FTP_UPLOADPATH_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISTEST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOCAL_BACKUPPATH_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOCAL_LOGPATH_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOCAL_TEMPPATH_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MAILCC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MAILSUBJECT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MAILTO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ZIP_PASSWORD_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F194715" nillable="true" type="tns:F194715" />
</xs:schema>