Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P15WcfService/P15WcfService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P15WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P15WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F15" />
  <xs:element name="UpdateF1510Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tarDcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allocationNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="datas" nillable="true" type="q1:ArrayOfF1510Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1510DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF1510DataResult" nillable="true" type="q2:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF151001Datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F15" minOccurs="0" name="masterData" nillable="true" type="q3:F151001" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="detailData" nillable="true" type="q4:ArrayOfF151001DetailDatas" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF151001DatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateF151001DatasResult" nillable="true" type="q5:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF151001Datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f151001" nillable="true" type="q6:P1502010000Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF151001DatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF151001DatasResult" nillable="true" type="q7:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF151001ReportDataByTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f151001" nillable="true" type="q8:P1502010000Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF151001ReportDataByTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetF151001ReportDataByTicketResult" nillable="true" type="q9:F151001ReportDataByTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSourceNoStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F15" minOccurs="0" name="f151001" nillable="true" type="q10:F151001" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSourceNoStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateSourceNoStatusResult" nillable="true" type="q11:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportSerialNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="serialNoResultList" nillable="true" type="q12:ArrayOfSerialNoResult" />
        <xs:element minOccurs="0" name="changeStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wmsNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vnrCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportSerialNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ImportSerialNoResult" nillable="true" type="q13:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF150201Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="importData" nillable="true" type="q14:ArrayOfF150201ImportData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF150201DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ImportF150201DataResult" nillable="true" type="q15:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuggestLocByF1913WithF1912MovedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F15" minOccurs="0" name="master" nillable="true" type="q16:F151001" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f1913WithF1912Moveds" nillable="true" type="q17:ArrayOfF1913WithF1912Moved" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuggestLocByF1913WithF1912MovedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetSuggestLocByF1913WithF1912MovedListResult" nillable="true" type="q18:AddAllocationSuggestLocResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishedOffShelf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allocationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishedOffShelfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="FinishedOffShelfResult" nillable="true" type="q19:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishedOffShelfWithLack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allocationNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="p1502010500Data" nillable="true" type="q20:ArrayOfP1502010500Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishedOffShelfWithLackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="FinishedOffShelfWithLackResult" nillable="true" type="q21:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>