Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P15WcfService/P15WcfService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F15" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F15" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F151001">
    <xs:sequence>
      <xs:element name="_x003C_ALLOCATION_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ALLOCATION_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ALLOCATION_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BOX_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONTAINER_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_ALLOCATION_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_F0701_ID_x003E_k__BackingField" nillable="true" type="xs:long" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISEXPENDDATE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISMOVE_ORDER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOCK_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MOVE_TOOL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_POSTING_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PRE_TAR_WAREHOUSE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SEND_CAR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SOURCE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SOURCE_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SRC_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SRC_MOVE_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SRC_MOVE_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SRC_START_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_SRC_WAREHOUSE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TAR_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TAR_MOVE_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TAR_MOVE_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TAR_START_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_TAR_WAREHOUSE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F151001" nillable="true" type="tns:F151001" />
</xs:schema>