Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P91WcfService/P91WcfService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F91" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F91" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F910401">
    <xs:sequence>
      <xs:element name="_x003C_APPLY_PRICE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_APPROVED_PRICE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_COST_PRICE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ENABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NET_RATE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_OUTSOURCE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QUOTE_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910401" nillable="true" type="tns:F910401" />
  <xs:complexType name="ArrayOfF910402">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F910402" nillable="true" type="tns:F910402" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF910402" nillable="true" type="tns:ArrayOfF910402" />
  <xs:complexType name="F910402">
    <xs:sequence>
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PROCESS_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UNIT_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WORK_COST_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_WORK_HOUR_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910402" nillable="true" type="tns:F910402" />
  <xs:complexType name="ArrayOfF910403">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F910403" nillable="true" type="tns:F910403" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF910403" nillable="true" type="tns:ArrayOfF910403" />
  <xs:complexType name="F910403">
    <xs:sequence>
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STANDARD_COST_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_STANDARD_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_UNIT_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910403" nillable="true" type="tns:F910403" />
  <xs:complexType name="ArrayOfF910204">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F910204" nillable="true" type="tns:F910204" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF910204" nillable="true" type="tns:ArrayOfF910204" />
  <xs:complexType name="F910204">
    <xs:sequence>
      <xs:element name="_x003C_ACTION_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LABEL_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORDER_BY_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_PROCESS_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910204" nillable="true" type="tns:F910204" />
  <xs:complexType name="F910404">
    <xs:sequence>
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPLOAD_C_PATH_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPLOAD_NO_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_UPLOAD_S_PATH_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910404" nillable="true" type="tns:F910404" />
</xs:schema>