Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P91WcfService/P91WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfF910302WithF1928">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F910302WithF1928" nillable="true" type="tns:F910302WithF1928" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF910302WithF1928" nillable="true" type="tns:ArrayOfF910302WithF1928" />
  <xs:complexType name="F910302WithF1928">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONTRACT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OUTSOURCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OUTSOURCE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TASK_PRICE" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910302WithF1928" nillable="true" type="tns:F910302WithF1928" />
  <xs:complexType name="F910101Ex">
    <xs:sequence>
      <xs:element minOccurs="0" name="BOM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOM_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOM_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECK_PERCENT" type="xs:decimal" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PACKAGE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="SPEC_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910101Ex" nillable="true" type="tns:F910101Ex" />
  <xs:complexType name="ArrayOfF910102Ex">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F910102Ex" nillable="true" type="tns:F910102Ex" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF910102Ex" nillable="true" type="tns:ArrayOfF910102Ex" />
  <xs:complexType name="F910102Ex">
    <xs:sequence>
      <xs:element minOccurs="0" name="BOM_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOM_QTY" type="xs:int" />
      <xs:element minOccurs="0" name="BUNDLE_SERIALNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMBIN_ORDER" type="xs:short" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_COLOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_SIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_SPEC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910102Ex" nillable="true" type="tns:F910102Ex" />
  <xs:complexType name="ExecuteResult">
    <xs:sequence>
      <xs:element name="_x003C_IsSuccessed_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
  <xs:complexType name="F910301Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLOSE_CYCLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CYCLE_DATE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISABLE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DUEDATE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ENABLE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJECT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJECT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNI_FORM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910301Data" nillable="true" type="tns:F910301Data" />
  <xs:complexType name="ArrayOfF910302Data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F910302Data" nillable="true" type="tns:F910302Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF910302Data" nillable="true" type="tns:ArrayOfF910302Data" />
  <xs:complexType name="F910302Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVE_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CONTRACT_FEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CONTRACT_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_TYPE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_TYPENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISABLE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ENABLE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OUTSOURCE_COST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_ACT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUOTE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUOTE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_CONTRACT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TASK_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_HOUR" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910302Data" nillable="true" type="tns:F910302Data" />
  <xs:complexType name="ArrayOfBomQtyData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BomQtyData" nillable="true" type="tns:BomQtyData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBomQtyData" nillable="true" type="tns:ArrayOfBomQtyData" />
  <xs:complexType name="BomQtyData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AVAILABLE_QTY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="BOM_QTY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_CODE_BOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEED_QTY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_QTY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VALID_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WAREHOUSE_TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BomQtyData" nillable="true" type="tns:BomQtyData" />
  <xs:complexType name="ArrayOfPickData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PickData" nillable="true" type="tns:PickData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPickData" nillable="true" type="tns:ArrayOfPickData" />
  <xs:complexType name="PickData">
    <xs:sequence>
      <xs:element minOccurs="0" name="A_PROCESS_QTY" type="xs:int" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_COLOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_SIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_SPEC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QTY" type="xs:int" />
      <xs:element minOccurs="0" name="TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PickData" nillable="true" type="tns:PickData" />
  <xs:complexType name="ArrayOfF910004Data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F910004Data" nillable="true" type="tns:F910004Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF910004Data" nillable="true" type="tns:ArrayOfF910004Data" />
  <xs:complexType name="F910004Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="PROCCNT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRODUCE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUMPROCQTY" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F910004Data" nillable="true" type="tns:F910004Data" />
  <xs:complexType name="ArrayOfBackData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackData" nillable="true" type="tns:BackData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackData" nillable="true" type="tns:ArrayOfBackData" />
  <xs:complexType name="BackData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALLOCATION_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Added" type="xs:boolean" />
      <xs:element minOccurs="0" name="BACK_NO" type="xs:long" />
      <xs:element minOccurs="0" name="BREAK_BACK_QTY" type="xs:long" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="GOOD_BACK_QTY" type="xs:long" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modified" type="xs:boolean" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BackData" nillable="true" type="tns:BackData" />
</xs:schema>