Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P91WcfService/P91WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="P91WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P91WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P91WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P91WcfService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P91WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P91WcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F91" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="P91WcfService_GetF910302ByProcessIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetF910302ByProcessIds" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_GetF910302ByProcessIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetF910302ByProcessIdsResponse" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_InsertF910101_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertF910101" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_InsertF910101_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertF910101Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateF910101_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateF910101" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateF910101_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateF910101Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_InsertP910302_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertP910302" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_InsertP910302_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertP910302Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateP910302_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateP910302" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateP910302_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateP910302Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_InsertContractData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertContractData" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_InsertContractData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertContractDataResponse" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateContractData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContractData" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateContractData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContractDataResponse" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_CreateP910205_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateP910205" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_CreateP910205_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateP910205Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateF910204_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateF910204" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateF910204_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateF910204Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateF910203_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateF910203" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UpdateF910203_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateF910203Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_CreateUpdateBackDataForP91010105_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpdateBackDataForP91010105" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_CreateUpdateBackDataForP91010105_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpdateBackDataForP91010105Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UploadFileF910404_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileF910404" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_UploadFileF910404_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileF910404Response" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_AddOrUpdateUcDeviceSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateUcDeviceSetting" />
  </wsdl:message>
  <wsdl:message name="P91WcfService_AddOrUpdateUcDeviceSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateUcDeviceSettingResponse" />
  </wsdl:message>
  <wsdl:portType name="P91WcfService">
    <wsdl:operation name="GetF910302ByProcessIds">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/GetF910302ByProcessIds" message="tns:P91WcfService_GetF910302ByProcessIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/GetF910302ByProcessIdsResponse" message="tns:P91WcfService_GetF910302ByProcessIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertF910101">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/InsertF910101" message="tns:P91WcfService_InsertF910101_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/InsertF910101Response" message="tns:P91WcfService_InsertF910101_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateF910101">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/UpdateF910101" message="tns:P91WcfService_UpdateF910101_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/UpdateF910101Response" message="tns:P91WcfService_UpdateF910101_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertP910302">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/InsertP910302" message="tns:P91WcfService_InsertP910302_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/InsertP910302Response" message="tns:P91WcfService_InsertP910302_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateP910302">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/UpdateP910302" message="tns:P91WcfService_UpdateP910302_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/UpdateP910302Response" message="tns:P91WcfService_UpdateP910302_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertContractData">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/InsertContractData" message="tns:P91WcfService_InsertContractData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/InsertContractDataResponse" message="tns:P91WcfService_InsertContractData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContractData">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/UpdateContractData" message="tns:P91WcfService_UpdateContractData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/UpdateContractDataResponse" message="tns:P91WcfService_UpdateContractData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateP910205">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/CreateP910205" message="tns:P91WcfService_CreateP910205_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/CreateP910205Response" message="tns:P91WcfService_CreateP910205_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateF910204">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/UpdateF910204" message="tns:P91WcfService_UpdateF910204_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/UpdateF910204Response" message="tns:P91WcfService_UpdateF910204_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateF910203">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/UpdateF910203" message="tns:P91WcfService_UpdateF910203_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/UpdateF910203Response" message="tns:P91WcfService_UpdateF910203_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUpdateBackDataForP91010105">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/CreateUpdateBackDataForP91010105" message="tns:P91WcfService_CreateUpdateBackDataForP91010105_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/CreateUpdateBackDataForP91010105Response" message="tns:P91WcfService_CreateUpdateBackDataForP91010105_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFileF910404">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/UploadFileF910404" message="tns:P91WcfService_UploadFileF910404_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/UploadFileF910404Response" message="tns:P91WcfService_UploadFileF910404_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateUcDeviceSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/P91WcfService/AddOrUpdateUcDeviceSetting" message="tns:P91WcfService_AddOrUpdateUcDeviceSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P91WcfService/AddOrUpdateUcDeviceSettingResponse" message="tns:P91WcfService_AddOrUpdateUcDeviceSetting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_P91WcfService" type="tns:P91WcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetF910302ByProcessIds">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/GetF910302ByProcessIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertF910101">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/InsertF910101" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateF910101">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/UpdateF910101" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertP910302">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/InsertP910302" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateP910302">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/UpdateP910302" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertContractData">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/InsertContractData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContractData">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/UpdateContractData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateP910205">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/CreateP910205" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateF910204">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/UpdateF910204" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateF910203">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/UpdateF910203" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUpdateBackDataForP91010105">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/CreateUpdateBackDataForP91010105" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFileF910404">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/UploadFileF910404" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateUcDeviceSetting">
      <soap:operation soapAction="http://tempuri.org/P91WcfService/AddOrUpdateUcDeviceSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="P91WcfService">
    <wsdl:port name="BasicHttpBinding_P91WcfService" binding="tns:BasicHttpBinding_P91WcfService">
      <soap:address location="http://ewmsap/iWms.WebServices/P91WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>