Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P14WcfService/P14WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F14" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F14" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F140101">
    <xs:sequence>
      <xs:element name="_x003C_CHECK_TOOL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CYCLE_TIMES_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_INVENTORY_CYCLE_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_INVENTORY_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_INVENTORY_MON_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_INVENTORY_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_INVENTORY_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_INVENTORY_YEAR_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_ISCHARGE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISSECOND_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_CNT_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_ITEM_QTY_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_POSTING_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PRINT_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_SHOW_CNT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F140101" nillable="true" type="tns:F140101" />
</xs:schema>