Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/S03WcfService/S03WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/S03WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/S03WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:element name="GetF0020Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msgNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF0020DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" minOccurs="0" name="GetF0020DataResult" nillable="true" type="q1:F0020" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderIsProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderIsProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetOrderIsProblemResult" nillable="true" type="q2:ArrayOfOrderIsProblem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExceedPickFinishTimeDatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExceedPickFinishTimeDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetExceedPickFinishTimeDatasResult" nillable="true" type="q3:ArrayOfExceedPickFinishTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSchedule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertScheduleResult" nillable="true" type="q4:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSchMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSchMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertSchMessageResult" nillable="true" type="q5:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>