Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/S03WcfService/S03WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="S03WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/S03WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/S03WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/S03WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/S03WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="S03WcfService_GetF0020Data_InputMessage">
    <wsdl:part name="parameters" element="tns:GetF0020Data" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_GetF0020Data_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetF0020DataResponse" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_GetOrderIsProblem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderIsProblem" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_GetOrderIsProblem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderIsProblemResponse" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_GetExceedPickFinishTimeDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExceedPickFinishTimeDatas" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_GetExceedPickFinishTimeDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExceedPickFinishTimeDatasResponse" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_InsertSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSchedule" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_InsertSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_InsertSchMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSchMessage" />
  </wsdl:message>
  <wsdl:message name="S03WcfService_InsertSchMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSchMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="S03WcfService">
    <wsdl:operation name="GetF0020Data">
      <wsdl:input wsaw:Action="http://tempuri.org/S03WcfService/GetF0020Data" message="tns:S03WcfService_GetF0020Data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/S03WcfService/GetF0020DataResponse" message="tns:S03WcfService_GetF0020Data_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderIsProblem">
      <wsdl:input wsaw:Action="http://tempuri.org/S03WcfService/GetOrderIsProblem" message="tns:S03WcfService_GetOrderIsProblem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/S03WcfService/GetOrderIsProblemResponse" message="tns:S03WcfService_GetOrderIsProblem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExceedPickFinishTimeDatas">
      <wsdl:input wsaw:Action="http://tempuri.org/S03WcfService/GetExceedPickFinishTimeDatas" message="tns:S03WcfService_GetExceedPickFinishTimeDatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/S03WcfService/GetExceedPickFinishTimeDatasResponse" message="tns:S03WcfService_GetExceedPickFinishTimeDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/S03WcfService/InsertSchedule" message="tns:S03WcfService_InsertSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/S03WcfService/InsertScheduleResponse" message="tns:S03WcfService_InsertSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSchMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/S03WcfService/InsertSchMessage" message="tns:S03WcfService_InsertSchMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/S03WcfService/InsertSchMessageResponse" message="tns:S03WcfService_InsertSchMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_S03WcfService" type="tns:S03WcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetF0020Data">
      <soap:operation soapAction="http://tempuri.org/S03WcfService/GetF0020Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderIsProblem">
      <soap:operation soapAction="http://tempuri.org/S03WcfService/GetOrderIsProblem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExceedPickFinishTimeDatas">
      <soap:operation soapAction="http://tempuri.org/S03WcfService/GetExceedPickFinishTimeDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSchedule">
      <soap:operation soapAction="http://tempuri.org/S03WcfService/InsertSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSchMessage">
      <soap:operation soapAction="http://tempuri.org/S03WcfService/InsertSchMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S03WcfService">
    <wsdl:port name="BasicHttpBinding_S03WcfService" binding="tns:BasicHttpBinding_S03WcfService">
      <soap:address location="http://ewmsap/iWms.WebServices/S03WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>