Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/S03WcfService/S03WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F0020">
    <xs:sequence>
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MSG_CONTENT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MSG_LEVEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MSG_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MSG_SUBJECT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F0020" nillable="true" type="tns:F0020" />
</xs:schema>