Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P02WcfService/P02WcfService46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F01" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F010301">
    <xs:sequence>
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BOX_CNT_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_CHECK_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECV_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_RECV_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECV_TIME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECV_USER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SHIP_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F010301" nillable="true" type="tns:F010301" />
  <xs:complexType name="F010302">
    <xs:sequence>
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHECK_BOX_CNT_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_CHECK_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_CHECK_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHECK_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHECK_TIME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHECK_USER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_SHIP_BOX_CNT_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_SHIP_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F010302" nillable="true" type="tns:F010302" />
</xs:schema>