Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P02WcfService/P02WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F1905">
    <xs:sequence>
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PACK_HIGHT_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_PACK_LENGTH_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_PACK_WEIGHT_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_PACK_WIDTH_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1905" nillable="true" type="tns:F1905" />
</xs:schema>