Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P06WcfService/P06WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
  <xs:complexType name="ArrayOfF051206LackList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F051206LackList" nillable="true" type="tns:F051206LackList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF051206LackList" nillable="true" type="tns:ArrayOfF051206LackList" />
  <xs:complexType name="F051206LackList">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_PICK_QTY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_ORD_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISDELETED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSELECTED" type="xs:boolean" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUpdate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LACK_QTY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LACK_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORD_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_ORD_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_ORD_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETURN_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WMS_ORD_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F051206LackList" nillable="true" type="tns:F051206LackList" />
  <xs:complexType name="ArrayOfF051206LackList_Allot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F051206LackList_Allot" nillable="true" type="tns:F051206LackList_Allot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF051206LackList_Allot" nillable="true" type="tns:ArrayOfF051206LackList_Allot" />
  <xs:complexType name="F051206LackList_Allot">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALLOCATION_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ALLOCATION_SEQ" type="xs:short" />
      <xs:element minOccurs="0" name="BOX_CTRL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENTER_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISSELECTED" type="xs:boolean" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LACK_QTY" type="xs:int" />
      <xs:element minOccurs="0" name="LACK_SEQ" type="xs:decimal" />
      <xs:element minOccurs="0" name="LACK_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PALLET_CTRL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REASON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRC_LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRC_QTY" type="xs:int" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAR_LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALID_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VNR_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F051206LackList_Allot" nillable="true" type="tns:F051206LackList_Allot" />
</xs:schema>