Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/S00WcfService/S00WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/S00WcfService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/S00WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:element name="SettleDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemType" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="quoteNo" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SettleDailyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractSettleDatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractSettleDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetContractSettleDatasResult" nillable="true" type="q2:ArrayOfContractSettleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DailyStockBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DailyStockBackupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockSettle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStockSettleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcWorkPerformanceDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcWorkPerformanceDailyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcSettleReportDaily">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcSettleReportDailyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateShipFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="executeDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateShipFeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>