Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/S00WcfService/S00WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContractSettleData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractSettleData" nillable="true" type="tns:ContractSettleData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractSettleData" nillable="true" type="tns:ArrayOfContractSettleData" />
  <xs:complexType name="ContractSettleData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACC_ITEM_KIND_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACC_KIND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVE_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CLOSE_CYCLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTRACT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CYCLE_DATE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISABLE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ENABLE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OUTSOURCE_COST" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PROCESS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUOTE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_CONTRACT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TASK_PRICE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UNIT_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WORK_HOUR" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractSettleData" nillable="true" type="tns:ContractSettleData" />
</xs:schema>