Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/S99WcfService/S99WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/S99WcfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfWMSMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WMSMessage" nillable="true" type="tns:WMSMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWMSMessage" nillable="true" type="tns:ArrayOfWMSMessage" />
  <xs:complexType name="WMSMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAYS" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMail" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSms" type="xs:boolean" />
      <xs:element minOccurs="0" name="MESSAGE_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE_ID" type="xs:decimal" />
      <xs:element minOccurs="0" name="MSG_SUBJECT" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReceiverMails" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReceiverMobiles" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TARGET_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TARGET_TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WMSMessage" nillable="true" type="tns:WMSMessage" />
</xs:schema>