Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P18WcfService/P18WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F1913">
    <xs:sequence>
      <xs:element name="_x003C_BOX_CTRL_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ENTER_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MAKE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PALLET_CTRL_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QTY_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_REMARK_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SERIAL_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VALID_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_VNR_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1913" nillable="true" type="tns:F1913" />
  <xs:complexType name="ArrayOfF1913">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F1913" nillable="true" type="tns:F1913" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF1913" nillable="true" type="tns:ArrayOfF1913" />
</xs:schema>