Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P25WcfService/P25WcfService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExecuteResult" nillable="true" type="tns:ArrayOfExecuteResult" />
  <xs:complexType name="ExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
  <xs:complexType name="ArrayOfF2501WcfData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F2501WcfData" nillable="true" type="tns:F2501WcfData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF2501WcfData" nillable="true" type="tns:ArrayOfF2501WcfData" />
  <xs:complexType name="F2501WcfData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVATED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BATCH_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOX_CTRL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOX_SERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUNDLE_SERIALLOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAMERA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CASE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CELL_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLIENT_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMBIN_NO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChangeItemCode" type="xs:boolean" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_MIX_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORD_PROP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PALLET_CTRL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETAIL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="SEND_CUST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_VNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAG3G" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALID_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VNR_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WMS_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F2501WcfData" nillable="true" type="tns:F2501WcfData" />
  <xs:complexType name="ArrayOfF250103Verification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F250103Verification" nillable="true" type="tns:F250103Verification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF250103Verification" nillable="true" type="tns:ArrayOfF250103Verification" />
  <xs:complexType name="F250103Verification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="SerialNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verification" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F250103Verification" nillable="true" type="tns:F250103Verification" />
  <xs:complexType name="ArrayOfP250302QueryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P250302QueryItem" nillable="true" type="tns:P250302QueryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP250302QueryItem" nillable="true" type="tns:ArrayOfP250302QueryItem" />
  <xs:complexType name="P250302QueryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLIENT_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISPASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISPASS_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOG_SEQ" type="xs:long" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEW_SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P250302QueryItem" nillable="true" type="tns:P250302QueryItem" />
  <xs:complexType name="ArrayOfF2501QueryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F2501QueryData" nillable="true" type="tns:F2501QueryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF2501QueryData" nillable="true" type="tns:ArrayOfF2501QueryData" />
  <xs:complexType name="F2501QueryData">
    <xs:sequence>
      <xs:element name="_x003C_ACTIVATED_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BATCH_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BOUNDLE_ITEM_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BOX_SERIAL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BUNDLE_SERIALLOC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CAMERA_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CASE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CELL_NUM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CLIENT_IP_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_COMBIN_NO_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CanDelete_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IN_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_ITEM_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_SPEC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_UNIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_PROP_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PO_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PROCESS_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PUK_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RETAIL_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ROWNUM_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SEND_CUST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SERIAL_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SYS_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TAG3G_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VALID_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_VNR_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WMS_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F2501QueryData" nillable="true" type="tns:F2501QueryData" />
  <xs:complexType name="ArrayOfP2502QueryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P2502QueryData" nillable="true" type="tns:P2502QueryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP2502QueryData" nillable="true" type="tns:ArrayOfP2502QueryData" />
  <xs:complexType name="P2502QueryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVATED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BATCH_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOX_SERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAMERA_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CASE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CELL_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLIENT_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMBIN_NO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_SPEC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORD_PROP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORD_PROP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PO_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROCESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETAIL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="SEND_CUST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERIAL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAG3G" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALID_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VNR_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WMS_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P2502QueryData" nillable="true" type="tns:P2502QueryData" />
</xs:schema>