Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P71WcfService/P71WcfService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P71WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P71WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P71WcfService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P71WcfService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P71WcfService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" />
  <xs:element name="UpdateP710104">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="locList" nillable="true" type="q1:ArrayOfF1912StatusEx" />
        <xs:element minOccurs="0" name="locStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uccCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP710104Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP710104Result" nillable="true" type="q2:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1980Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f1980Data" nillable="true" type="q3:F1980Data" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1912Data" nillable="true" type="q4:ArrayOfF1912" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1980DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF1980DataResult" nillable="true" type="q5:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1980Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f1980Data" nillable="true" type="q6:F1980Data" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1912Data" nillable="true" type="q7:ArrayOfF1912" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1980DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF1980DataResult" nillable="true" type="q8:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocDetailData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="locCodes" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocDetailDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetLocDetailDataResult" nillable="true" type="q10:ArrayOfP710101DetailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveP710105">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="locType" nillable="true" type="q11:F1942Ex" />
        <xs:element minOccurs="0" name="isCreate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveP710105Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="SaveP710105Result" nillable="true" type="q12:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1919Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f1919Data" nillable="true" type="q13:F1919Data" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectLocs" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1919DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF1919DataResult" nillable="true" type="q15:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1919Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f1919Data" nillable="true" type="q16:F1919Data" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="selectLocs" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1919DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF1919DataResult" nillable="true" type="q18:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetP710108">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemCodes" nillable="true" type="q19:ArrayOfstring" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetP710108Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="GetP710108Result" nillable="true" type="q20:ArrayOfF1903" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintDataLoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintDataLocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetPrintDataLocResult" nillable="true" type="q21:ArrayOfF1912DataLoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintDataLocByNewReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listItem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="printEmpty" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrintDataLocByNewReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetPrintDataLocByNewReportResult" nillable="true" type="q22:ArrayOfF1912DataLocByLocType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1912WithF1980">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f1912WithF1980Data" nillable="true" type="q23:F1912WithF1980" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1912WithF1980Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF1912WithF1980Result" nillable="true" type="q24:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1947New">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1947" nillable="true" type="q25:F1947" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194701List" nillable="true" type="q26:ArrayOfF194701" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f19470101List" nillable="true" type="q27:ArrayOfF19470101" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194708List" nillable="true" type="q28:ArrayOfF194708" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f19470801List" nillable="true" type="q29:ArrayOfF19470801" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194709List" nillable="true" type="q30:ArrayOfF194709" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194703List" nillable="true" type="q31:ArrayOfF194703" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1947NewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF1947NewResult" nillable="true" type="q32:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1947New">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1947" nillable="true" type="q33:F1947" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194701List" nillable="true" type="q34:ArrayOfF194701" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f19470101List" nillable="true" type="q35:ArrayOfF19470101" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194708List" nillable="true" type="q36:ArrayOfF194708" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f19470801List" nillable="true" type="q37:ArrayOfF19470801" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194709List" nillable="true" type="q38:ArrayOfF194709" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f194703List" nillable="true" type="q39:ArrayOfF194703" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF1947NewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF1947NewResult" nillable="true" type="q40:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateP710903">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1909" nillable="true" type="q41:F1909" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f190902s" nillable="true" type="q42:ArrayOfF190902" />
        <xs:element minOccurs="0" name="isAdd" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateP710903Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateP710903Result" nillable="true" type="q43:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF199001">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199001" nillable="true" type="q44:F199001" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF199001Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF199001Result" nillable="true" type="q45:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF199001">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199001" nillable="true" type="q46:F199001" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF199001Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF199001Result" nillable="true" type="q47:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF199001">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199001" nillable="true" type="q48:F199001" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF199001Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF199001Result" nillable="true" type="q49:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF199006">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199006" nillable="true" type="q50:F199006" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF199006Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF199006Result" nillable="true" type="q51:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF199006">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199006" nillable="true" type="q52:F199006" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF199006Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF199006Result" nillable="true" type="q53:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF199006">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199006" nillable="true" type="q54:F199006" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF199006Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF199006Result" nillable="true" type="q55:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700701">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700701" nillable="true" type="q56:F700701" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700701Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF700701Result" nillable="true" type="q57:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700701">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700701" nillable="true" type="q58:F700701" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700701Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF700701Result" nillable="true" type="q59:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF199005">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199005" nillable="true" type="q60:F199005" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF199005Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF199005Result" nillable="true" type="q61:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF199005">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f199005" nillable="true" type="q62:F199005" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF199005Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF199005Result" nillable="true" type="q63:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedOrUpdateP710601">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" minOccurs="0" name="f000904s" nillable="true" type="q64:ArrayOfF000904" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedOrUpdateP710601Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeletedOrUpdateP710601Result" nillable="true" type="q65:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddP710601Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" minOccurs="0" name="f000904s" nillable="true" type="q66:ArrayOfF000904" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddP710601DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="AddP710601DataResult" nillable="true" type="q67:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateLang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subtopic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="data" nillable="true" type="q68:ArrayOfP710601LangData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateLangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateLangResult" nillable="true" type="q69:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>