Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P71WcfService/P71WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfF000904">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F000904" nillable="true" type="tns:F000904" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF000904" nillable="true" type="tns:ArrayOfF000904" />
  <xs:complexType name="F000904">
    <xs:sequence>
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISUSAGE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUBTOPIC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUB_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TOPIC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VALUE_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F000904" nillable="true" type="tns:F000904" />
</xs:schema>