Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P71WcfService/P71WcfService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfF1912StatusEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F1912StatusEx" nillable="true" type="tns:F1912StatusEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF1912StatusEx" nillable="true" type="tns:ArrayOfF1912StatusEx" />
  <xs:complexType name="F1912StatusEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAUSE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_STATUS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOW_STATUS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UCC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1912StatusEx" nillable="true" type="tns:F1912StatusEx" />
  <xs:complexType name="ExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
  <xs:complexType name="F1980Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAL_FEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAL_STOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEVICE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HANDY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOR_DISTANCE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsModifyDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="LOC_TYPE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXCHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXLOC_LEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXLOC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXPLAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINCHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINLOC_LEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINLOC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINPLAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_FLOOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENT_BEGIN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RENT_END_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TMPR_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1980Data" nillable="true" type="tns:F1980Data" />
  <xs:complexType name="ArrayOfP710101DetailData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P710101DetailData" nillable="true" type="tns:P710101DetailData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP710101DetailData" nillable="true" type="tns:ArrayOfP710101DetailData" />
  <xs:complexType name="P710101DetailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEdit" type="xs:int" />
      <xs:element minOccurs="0" name="IsEditData" type="xs:boolean" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_LEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:int" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P710101DetailData" nillable="true" type="tns:P710101DetailData" />
  <xs:complexType name="F1942Ex">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPTH" type="xs:int" />
      <xs:element minOccurs="0" name="HANDY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HEIGHT" type="xs:int" />
      <xs:element minOccurs="0" name="LENGTH" type="xs:int" />
      <xs:element minOccurs="0" name="LOC_TYPE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOLUME_RATE" type="xs:decimal" />
      <xs:element minOccurs="0" name="WEIGHT" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1942Ex" nillable="true" type="tns:F1942Ex" />
  <xs:complexType name="F1919Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELIVERY_MARTERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELIVERY_MARTERIAL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCreateStorageAreaPickSetting" type="xs:boolean" />
      <xs:element minOccurs="0" name="MAXCHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXLOC_LEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXLOC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAXPLAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINCHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINLOC_LEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINLOC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINPLAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVE_TOOL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOVE_TOOL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_CHECK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_CHECK_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_MARTERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_MARTERIAL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_SEQ_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_TOOL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_TOOL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_UNIT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUT_TOOL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUT_TOOL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="SINGLE_BOX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SINGLE_BOX_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_BY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1919Data" nillable="true" type="tns:F1919Data" />
  <xs:complexType name="ArrayOfF1912DataLoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F1912DataLoc" nillable="true" type="tns:F1912DataLoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF1912DataLoc" nillable="true" type="tns:ArrayOfF1912DataLoc" />
  <xs:complexType name="F1912DataLoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BARCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1912DataLoc" nillable="true" type="tns:F1912DataLoc" />
  <xs:complexType name="ArrayOfF1912DataLocByLocType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F1912DataLocByLocType" nillable="true" type="tns:F1912DataLocByLocType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF1912DataLocByLocType" nillable="true" type="tns:ArrayOfF1912DataLocByLocType" />
  <xs:complexType name="F1912DataLocByLocType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREA_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BARCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_CODE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1912DataLocByLocType" nillable="true" type="tns:F1912DataLocByLocType" />
  <xs:complexType name="F1912WithF1980">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAL_FEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAL_STOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HANDY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOR_DISTANCE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="LOC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_LEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_TYPE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOC_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOW_STATUS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRE_STATUS_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENT_BEGIN_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RENT_END_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TEMP_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMP_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UCC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAREHOUSE_TYPE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F1912WithF1980" nillable="true" type="tns:F1912WithF1980" />
  <xs:complexType name="ArrayOfP710601LangData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="P710601LangData" nillable="true" type="tns:P710601LangData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfP710601LangData" nillable="true" type="tns:ArrayOfP710601LangData" />
  <xs:complexType name="P710601LangData">
    <xs:sequence>
      <xs:element name="_x003C_LANGNAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LANG_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUBTOPIC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUB_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TOPIC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VALUE_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P710601LangData" nillable="true" type="tns:P710601LangData" />
</xs:schema>