Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P71WcfService/P71WcfService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F700701">
    <xs:sequence>
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GRP_ID_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_IMPORT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_PERSON_NUMBER_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SALARY_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WORK_HOUR_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F700701" nillable="true" type="tns:F700701" />
</xs:schema>