Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P05WcfService/P05WcfService55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F05" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F050101">
    <xs:sequence>
      <xs:element name="_x003C_ADDRESS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AGE_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ARRIVAL_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_BATCH_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BUSINESS_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CAN_FAST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHANNEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHECK_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_COLLECT_AMT_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_COLLECT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONSIGNEE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONTACT_TEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONTACT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_COST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CVS_TAKE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_PERIOD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISTR_CAR_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_A_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_B_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_C_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_D_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_E_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FAST_DEAL_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FOREIGN_CUSTCODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FOREIGN_WMSNO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FRAGILE_LABEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GENDER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUARANTEE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HAVE_ITEM_INVO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IMPORT_FLAG_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISPACKCHECK_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_IS_NORTH_ORDER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MOVE_OUT_TARGET_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NP_FLAG_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORDER_PROC_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORDER_ZIP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PACKING_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_POSM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_RECEIPT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_ADDRESS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_NO_HELP_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_TITLE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RETAIL_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ROUND_PIECE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SA_CHECK_QTY_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_SA_QTY_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_SA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SELF_TAKE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SPECIAL_BUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SP_DELV_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUBCHANNEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUG_BOX_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUG_LOGISTIC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_AREA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TRAN_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TYPE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F050101" nillable="true" type="tns:F050101" />
  <xs:complexType name="F050304">
    <xs:sequence>
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BATCH_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONSIGN_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_DELV_RETAILCODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_RETAILNAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ESERVICE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RETURN_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F050304" nillable="true" type="tns:F050304" />
  <xs:complexType name="ArrayOfF050101">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F050101" nillable="true" type="tns:F050101" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF050101" nillable="true" type="tns:ArrayOfF050101" />
  <xs:complexType name="F050801">
    <xs:sequence>
      <xs:element name="_x003C_AGE_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_ALLOWORDITEM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_APPROVE_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_ARRIVAL_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_A_ARRIVAL_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_CAN_FAST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHECK_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CLOSE_BY_BOXNO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_COLLECT_AMT_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_COMPLETE_TIME_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_CONTAINER_B_CNT_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_CONTAINER_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_COST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CVS_TAKE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_CHECKCODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_DELV_PERIOD_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_A_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_B_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_C_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_D_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EXTENSION_E_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FAST_DEAL_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FRAGILE_LABEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GENDER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUARANTEE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HELLO_LETTER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_INCAR_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_INCAR_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_INCAR_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_INVOICE_PRINT_CNT_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_ISEXCEPTION_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISPACKCHECK_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_IS_NORTH_ORDER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MOVE_OUT_TARGET_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NO_AUDIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NO_DELV_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NO_LOADING_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NO_SPEC_REPROTS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NP_FLAG_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OPERATOR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORDER_CRT_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_ORDER_PROC_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORDER_ZIP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_PROP_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PACKING_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PACK_CANCEL_TIME_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PACK_FINISH_TIME_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PACK_START_TIME_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_PICK_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PICK_TIME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_BOX_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_DELV_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_DETAIL_FLAG_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_FLAG_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_PASS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RETAIL_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ROUND_PIECE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SA_CHECK_QTY_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_SA_QTY_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_SA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SELFTAKE_CHECKCODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SELFTAKE_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_SELF_TAKE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SHIP_MODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SOURCE_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SPECIAL_BUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_START_TIME_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_SUG_BOX_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUG_LOGISTIC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TMPR_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VIRTUAL_ITEM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VOLUMN_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_WEIGHT_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_WMS_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ZIP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F050801" nillable="true" type="tns:F050801" />
</xs:schema>