Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P05WcfService/P05WcfService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F05" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F05" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F050101">
    <xs:sequence>
      <xs:element name="_x003C_ADDRESS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_AGE_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ARRIVAL_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_BATCH_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BUSINESS_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CAN_FAST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHANNEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_COLLECT_AMT_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_COLLECT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONSIGNEE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONTACT_TEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONTACT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_COST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISTR_CAR_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FRAGILE_LABEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GENDER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUARANTEE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_POSM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_RECEIPT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_ADDRESS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_NO_HELP_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RECEIPT_TITLE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RETAIL_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SA_QTY_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_SA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SELF_TAKE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SPECIAL_BUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SP_DELV_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_AREA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TRAN_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TYPE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F050101" nillable="true" type="tns:F050101" />
  <xs:complexType name="ArrayOfF05010101">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F05010101" nillable="true" type="tns:F05010101" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF05010101" nillable="true" type="tns:ArrayOfF05010101" />
  <xs:complexType name="F05010101">
    <xs:sequence>
      <xs:element name="_x003C_ADDRESS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CONSIGNEE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_QTY_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SMALL_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SMALL_ORD_SEQ_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F05010101" nillable="true" type="tns:F05010101" />
  <xs:complexType name="F051205">
    <xs:sequence>
      <xs:element name="_x003C_CHANNEL_BEGIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CHANNEL_END_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FLOOR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISDELETED_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PICK_AREA_NO_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PICK_AREA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UCC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WAREHOUSE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F051205" nillable="true" type="tns:F051205" />
  <xs:complexType name="F050801">
    <xs:sequence>
      <xs:element name="_x003C_AGE_x003E_k__BackingField" nillable="true" type="xs:short" />
      <xs:element name="_x003C_ALLOWORDITEM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ALL_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_APPROVE_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_ARRIVAL_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_CAN_FAST_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FRAGILE_LABEL_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GENDER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUARANTEE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HELLO_LETTER_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_INCAR_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_INVOICE_PRINT_CNT_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_NO_AUDIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NO_LOADING_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_PROP_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ORD_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PICK_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PICK_TIME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_BOX_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_DELV_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_FLAG_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PRINT_PASS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RETAIL_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SA_QTY_x003E_k__BackingField" type="xs:short" />
      <xs:element name="_x003C_SA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SELF_TAKE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SOURCE_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SPECIAL_BUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_TMPR_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VIRTUAL_ITEM_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WMS_ORD_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ZIP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F050801" nillable="true" type="tns:F050801" />
</xs:schema>