Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P50WcfService/P50WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F50" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F50" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F500101">
    <xs:sequence>
      <xs:element name="_x003C_ACC_ITEM_KIND_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_ITEM_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_NUM_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ACC_UNIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_APPROV_UNIT_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ENABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IN_TAX_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOC_TYPE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NET_RATE_x003E_k__BackingField" type="xs:float" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TMPR_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UNIT_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F500101" nillable="true" type="tns:F500101" />
  <xs:complexType name="F500104">
    <xs:sequence>
      <xs:element name="_x003C_ACC_ITEM_KIND_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_ITEM_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_KIND_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_NUM_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ACC_UNIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_APPROV_BASIC_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_APPROV_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_APPROV_OVER_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_BASIC_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_ACC_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ENABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IN_TAX_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_TYPE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NET_RATE_x003E_k__BackingField" type="xs:float" />
      <xs:element name="_x003C_ORD_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OVER_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F500104" nillable="true" type="tns:F500104" />
  <xs:complexType name="F500103">
    <xs:sequence>
      <xs:element name="_x003C_ACC_ITEM_KIND_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_ITEM_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_KIND_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_NUM_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ACC_UNIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_APPROV_BASIC_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_APPROV_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_APPROV_OVER_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_BASIC_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_ACC_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ENABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IN_TAX_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_TYPE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NET_RATE_x003E_k__BackingField" type="xs:float" />
      <xs:element name="_x003C_OVER_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F500103" nillable="true" type="tns:F500103" />
  <xs:complexType name="F500102">
    <xs:sequence>
      <xs:element name="_x003C_ACC_AREA_ID_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_ACC_ITEM_KIND_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_ITEM_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_KIND_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_NUM_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_ACC_UNIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_APPROV_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_APPROV_OVER_UNIT_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CAR_KIND_ID_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_ACC_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_EFFIC_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_TMPR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ENABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IN_TAX_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IS_SPECIAL_CAR_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_TYPE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOGI_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MAX_WEIGHT_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NET_RATE_x003E_k__BackingField" type="xs:float" />
      <xs:element name="_x003C_OVER_UNIT_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_OVER_VALUE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F500102" nillable="true" type="tns:F500102" />
  <xs:complexType name="F500105">
    <xs:sequence>
      <xs:element name="_x003C_ACC_ITEM_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ACC_NUM_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ACC_UNIT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_APPROV_FEE_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUST_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DELV_ACC_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DISABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ENABLE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_FEE_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_GUP_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IN_TAX_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ITEM_TYPE_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MEMO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NET_RATE_x003E_k__BackingField" type="xs:float" />
      <xs:element name="_x003C_QUOTE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F500105" nillable="true" type="tns:F500105" />
</xs:schema>