Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P21WcfService/P21WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="P21WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P21WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P21WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P21WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P21WcfService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/P21WcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="P21WcfService_GetTests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTests" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetTests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTestsResponse" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060101Datas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetF060101Datas" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060101Datas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetF060101DatasResponse" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060201Datas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetF060201Datas" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060201Datas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetF060201DatasResponse" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060401Datas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetF060401Datas" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060401Datas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetF060401DatasResponse" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060404Datas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetF060404Datas" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF060404Datas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetF060404DatasResponse" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_OriginalOrderRedistribution_InputMessage">
    <wsdl:part name="parameters" element="tns:OriginalOrderRedistribution" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_OriginalOrderRedistribution_OutputMessage">
    <wsdl:part name="parameters" element="tns:OriginalOrderRedistributionResponse" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_DoAssignNewTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAssignNewTasks" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_DoAssignNewTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAssignNewTasksResponse" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF0090x_InputMessage">
    <wsdl:part name="parameters" element="tns:GetF0090x" />
  </wsdl:message>
  <wsdl:message name="P21WcfService_GetF0090x_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetF0090xResponse" />
  </wsdl:message>
  <wsdl:portType name="P21WcfService">
    <wsdl:operation name="GetTests">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/GetTests" message="tns:P21WcfService_GetTests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/GetTestsResponse" message="tns:P21WcfService_GetTests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetF060101Datas">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/GetF060101Datas" message="tns:P21WcfService_GetF060101Datas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/GetF060101DatasResponse" message="tns:P21WcfService_GetF060101Datas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetF060201Datas">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/GetF060201Datas" message="tns:P21WcfService_GetF060201Datas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/GetF060201DatasResponse" message="tns:P21WcfService_GetF060201Datas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetF060401Datas">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/GetF060401Datas" message="tns:P21WcfService_GetF060401Datas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/GetF060401DatasResponse" message="tns:P21WcfService_GetF060401Datas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetF060404Datas">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/GetF060404Datas" message="tns:P21WcfService_GetF060404Datas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/GetF060404DatasResponse" message="tns:P21WcfService_GetF060404Datas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OriginalOrderRedistribution">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/OriginalOrderRedistribution" message="tns:P21WcfService_OriginalOrderRedistribution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/OriginalOrderRedistributionResponse" message="tns:P21WcfService_OriginalOrderRedistribution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAssignNewTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/DoAssignNewTasks" message="tns:P21WcfService_DoAssignNewTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/DoAssignNewTasksResponse" message="tns:P21WcfService_DoAssignNewTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetF0090x">
      <wsdl:input wsaw:Action="http://tempuri.org/P21WcfService/GetF0090x" message="tns:P21WcfService_GetF0090x_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/P21WcfService/GetF0090xResponse" message="tns:P21WcfService_GetF0090x_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_P21WcfService" type="tns:P21WcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTests">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/GetTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetF060101Datas">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/GetF060101Datas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetF060201Datas">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/GetF060201Datas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetF060401Datas">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/GetF060401Datas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetF060404Datas">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/GetF060404Datas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OriginalOrderRedistribution">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/OriginalOrderRedistribution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAssignNewTasks">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/DoAssignNewTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetF0090x">
      <soap:operation soapAction="http://tempuri.org/P21WcfService/GetF0090x" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="P21WcfService">
    <wsdl:port name="BasicHttpBinding_P21WcfService" binding="tns:BasicHttpBinding_P21WcfService">
      <soap:address location="http://ewmsap/iWms.WebServices/P21WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>