Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P21WcfService/P21WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExecuteResult" nillable="true" type="tns:ArrayOfExecuteResult" />
  <xs:complexType name="ExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
  <xs:complexType name="ArrayOfTaskDispatchData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskDispatchData" nillable="true" type="tns:TaskDispatchData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskDispatchData" nillable="true" type="tns:ArrayOfTaskDispatchData" />
  <xs:complexType name="TaskDispatchData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHECK_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMD_TYPE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOC_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENABLE" type="xs:boolean" />
      <xs:element minOccurs="0" name="ISSECOND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MESSAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PICK_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROC_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RESENT_CNT" type="xs:int" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WAREHOUSE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WMS_NO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskDispatchData" nillable="true" type="tns:TaskDispatchData" />
  <xs:complexType name="ArrayOfF0090x">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="F0090x" nillable="true" type="tns:F0090x" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfF0090x" nillable="true" type="tns:ArrayOfF0090x" />
  <xs:complexType name="F0090x">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRT_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CRT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRT_STAFF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRMSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LOG_TABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RETURN_DATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEND_DATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPD_STAFF" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F0090x" nillable="true" type="tns:F0090x" />
</xs:schema>