Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P19WcfService/P19WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P19WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P19WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P19WcfService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P19WcfService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F05" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P19WcfService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P19WcfService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetF1929WithF1909Tests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF1929WithF1909TestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetF1929WithF1909TestsResult" nillable="true" type="q1:ArrayOfF1929WithF1909Test" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190504">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="funCodeList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scheduleList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190504Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190504Result" nillable="true" type="q2:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddP190504">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="funCodeList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scheduleList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddP190504Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="AddP190504Result" nillable="true" type="q3:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F1963CheckDuplicateByIdName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workgroupId" type="xs:decimal" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F1963CheckDuplicateByIdNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F1963CheckDuplicateByIdNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190507">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1963" nillable="true" type="q4:F1963" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f196301s" nillable="true" type="q5:ArrayOfF196301" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190507Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP190507Result" nillable="true" type="q6:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190507">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1963" nillable="true" type="q7:F1963" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f196301s" nillable="true" type="q8:ArrayOfF196301" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190507Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190507Result" nillable="true" type="q9:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190508">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workgroupId" type="xs:decimal" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="empList" nillable="true" type="q10:ArrayOfstring" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190508Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190508Result" nillable="true" type="q11:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190501">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="emp" nillable="true" type="q12:F1924" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groups" nillable="true" type="q13:ArrayOfstring" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="custs" nillable="true" type="q14:ArrayOfF192402" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newMenuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190501Result" nillable="true" type="q15:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190501">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="emp" nillable="true" type="q16:F1924" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groups" nillable="true" type="q17:ArrayOfstring" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="custs" nillable="true" type="q18:ArrayOfF192402" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newMenuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP190501Result" nillable="true" type="q19:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteP190501">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteP190501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteP190501Result" nillable="true" type="q20:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190506">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addgroups" nillable="true" type="q21:ArrayOfdecimal" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="removegroups" nillable="true" type="q22:ArrayOfdecimal" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addworkgroups" nillable="true" type="q23:ArrayOfdecimal" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="removeworkgroups" nillable="true" type="q24:ArrayOfdecimal" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="scheduleIdList" nillable="true" type="q25:ArrayOfstring" />
        <xs:element minOccurs="0" name="checkpackage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190506Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190506Result" nillable="true" type="q26:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190101">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dc" nillable="true" type="q27:F1901" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dcService" nillable="true" type="q28:ArrayOfF190101" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190101Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190101Result" nillable="true" type="q29:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190101New1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dc" nillable="true" type="q30:F1901" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dcService" nillable="true" type="q31:ArrayOfF190101" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="F190904List" nillable="true" type="q32:ArrayOfF190904" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F05" minOccurs="0" name="F050006List" nillable="true" type="q33:ArrayOfF050006" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="F190102List" nillable="true" type="q34:ArrayOfF190102" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190101New1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190101New1Result" nillable="true" type="q35:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190101">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dc" nillable="true" type="q36:F1901" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dcService" nillable="true" type="q37:ArrayOfF190101" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190101Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP190101Result" nillable="true" type="q38:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190101New1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dc" nillable="true" type="q39:F1901" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="dcService" nillable="true" type="q40:ArrayOfF190101" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="F190904List" nillable="true" type="q41:ArrayOfF190904" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F05" minOccurs="0" name="F050006List" nillable="true" type="q42:ArrayOfF050006" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="F190102List" nillable="true" type="q43:ArrayOfF190102" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190101New1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP190101New1Result" nillable="true" type="q44:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190102">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="SubItem" nillable="true" type="q45:F1903" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="VolumeItem" nillable="true" type="q46:F1905" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="palletLevel" nillable="true" type="q47:F190305" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP190102Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP190102Result" nillable="true" type="q48:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190102">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="SubItem" nillable="true" type="q49:F1903" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="VolumeItem" nillable="true" type="q50:F1905" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="palletLevel" nillable="true" type="q51:F190305" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP190102Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP190102Result" nillable="true" type="q52:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemPack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="delItems" nillable="true" type="q53:ArrayOfF190301" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="addItems" nillable="true" type="q54:ArrayOfF190301" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="editItems" nillable="true" type="q55:ArrayOfF190301" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveItemPackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="SaveItemPackResult" nillable="true" type="q56:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF197001">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f197001Data" nillable="true" type="q57:ArrayOfF197001" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF197001Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF197001Result" nillable="true" type="q58:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF197001">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f197001Data" nillable="true" type="q59:F197001" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF197001Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF197001Result" nillable="true" type="q60:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelF197001s">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f197001Datas" nillable="true" type="q61:ArrayOfF197001Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelF197001sResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DelF197001sResult" nillable="true" type="q62:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScrapItemStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScrapItemStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScrapItemStockResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonAllowedF1912LocDatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginLocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endLocCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="excludeLocCodes" nillable="true" type="q63:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNonAllowedF1912LocDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetNonAllowedF1912LocDatasResult" nillable="true" type="q64:ArrayOfF1912LocData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF0003">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F00" minOccurs="0" name="f0003Data" nillable="true" type="q65:F0003" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF0003Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF0003Result" nillable="true" type="q66:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staff" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listQid" nillable="true" type="q67:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="SaveDataResult" nillable="true" type="q68:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="qid" type="xs:decimal" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listParameters" nillable="true" type="q69:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetQueryDataResult" nillable="true" type="q70:TupleOfDataSetstringVNCQoeQQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryDataByCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryDataByComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetQueryDataByComboResult" nillable="true" type="q71:ArrayOfKeyValueOfstringArrayOfKeyValuePairOfstringstringtwCi8m_S7" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseImportF197001Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1970" nillable="true" type="q72:F1970" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="list" nillable="true" type="q73:ArrayOfF197001Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseImportF197001DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ParseImportF197001DataResult" nillable="true" type="q74:ArrayOfF197001Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateImportF197001Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1970" nillable="true" type="q75:F1970" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="list" nillable="true" type="q76:ArrayOfF197001Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateImportF197001DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ValidateImportF197001DataResult" nillable="true" type="q77:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF197001s">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1970" nillable="true" type="q78:F1970" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="list" nillable="true" type="q79:ArrayOfF197001" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF197001sResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateF197001sResult" nillable="true" type="q80:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="items" nillable="true" type="q81:ArrayOfArrayOfstring" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ImportDataResult" nillable="true" type="q82:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="data" nillable="true" type="q83:P192019Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteClsResult" nillable="true" type="q84:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateCls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="data" nillable="true" type="q85:P192019Data" />
        <xs:element minOccurs="0" name="isAdd" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateClsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateClsResult" nillable="true" type="q86:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF191201Datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="datas" nillable="true" type="q87:ArrayOfF191201" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF191201DatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF191201DatasResult" nillable="true" type="q88:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedF191201Datas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="datas" nillable="true" type="q89:ArrayOfF191201" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedF191201DatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeletedF191201DatasResult" nillable="true" type="q90:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF1910">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="data" nillable="true" type="q91:F1910" />
        <xs:element minOccurs="0" name="isAdd" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF1910Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateF1910Result" nillable="true" type="q92:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF194716">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="data" nillable="true" type="q93:F194716" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="dtlItems" nillable="true" type="q94:ArrayOfF19471601Data" />
        <xs:element minOccurs="0" name="isAdd" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF194716Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateF194716Result" nillable="true" type="q95:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F0070LoginDatasDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f0070LD" nillable="true" type="q96:ArrayOfF0070LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F0070LoginDatasDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="F0070LoginDatasDeleteResult" nillable="true" type="q97:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF190105AndF190106">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="data" nillable="true" type="q98:F190105" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="addF190106" nillable="true" type="q99:ArrayOfF190106Data" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="delF190106" nillable="true" type="q100:ArrayOfF190106Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF190105AndF190106Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF190105AndF190106Result" nillable="true" type="q101:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF191201Floors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF191201FloorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetF191201FloorsResult" nillable="true" type="q102:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF1912LocCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BeginLocCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndLocCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF1912LocCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetF1912LocCodeListResult" nillable="true" type="q103:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF191206">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f191206" nillable="true" type="q104:F191206" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f19120601s" nillable="true" type="q105:ArrayOfF19120601" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f19120602s" nillable="true" type="q106:ArrayOfF19120602" />
        <xs:element minOccurs="0" name="isAdd" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF191206Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateF191206Result" nillable="true" type="q107:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1946">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1946" nillable="true" type="q108:F1946" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1946Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF1946Result" nillable="true" type="q109:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF1946">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F19" minOccurs="0" name="f1946" nillable="true" type="q110:F1946" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF1946Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF1946Result" nillable="true" type="q111:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF194501">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:int" />
        <xs:element minOccurs="0" name="depth" type="xs:int" />
        <xs:element minOccurs="0" name="heigth" type="xs:int" />
        <xs:element minOccurs="0" name="volumeRate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF194501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateF194501Result" nillable="true" type="q112:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF194501">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF194501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF194501Result" nillable="true" type="q113:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1945">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectionName" nillable="true" type="xs:string" />
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="Addf1945CellLists" nillable="true" type="q114:ArrayOfF1945CellList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF1945Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF1945Result" nillable="true" type="q115:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCellNumCanReduce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CellType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CellNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCellNumCanReduceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCellNumCanReduceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF051401">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectionCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CollectionName" nillable="true" type="xs:string" />
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="F1945CellLists" nillable="true" type="q116:ArrayOfF1945CellList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF051401Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF051401Result" nillable="true" type="q117:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF0002">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logisticCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logistcName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPierRecvPoint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isVendorReturn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeMode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdateF0002Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertOrUpdateF0002Result" nillable="true" type="q118:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF0002">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logisticCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF0002Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF0002Result" nillable="true" type="q119:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>