Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/ExportWcfService/ExportWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExportResultReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DcCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportResultReq" nillable="true" type="tns:ExportResultReq" />
  <xs:complexType name="ApiResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="FailureCnt" type="xs:int" />
      <xs:element minOccurs="0" name="InsertCnt" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="MsgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessCnt" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCnt" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateCnt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiResult" nillable="true" type="tns:ApiResult" />
</xs:schema>