Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/ExportWcfService/ExportWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/ExportWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" />
  <xs:element name="ExportWarehouseInResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q1:ExportResultReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportWarehouseInResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="ExportWarehouseInResultsResult" nillable="true" type="q2:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportOrderResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q3:ExportResultReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportOrderResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="ExportOrderResultsResult" nillable="true" type="q4:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVendorReturnResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q5:ExportResultReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportVendorReturnResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="ExportVendorReturnResultsResult" nillable="true" type="q6:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpStockAlertResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q7:ExportResultReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpStockAlertResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="ExpStockAlertResultsResult" nillable="true" type="q8:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHomeDeliveryResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q9:ExportResultReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportHomeDeliveryResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="ExportHomeDeliveryResultsResult" nillable="true" type="q10:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportStockMovementResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q11:ExportResultReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportStockMovementResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="ExportStockMovementResultsResult" nillable="true" type="q12:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSysErrorNotifyResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q13:ExportResultReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportSysErrorNotifyResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="ExportSysErrorNotifyResultsResult" nillable="true" type="q14:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>