Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P20WcfService/P20WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P20WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P20WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfintArrayOfSerialNoResultfhb8sRVK">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfintArrayOfSerialNoResultfhb8sRVK" type="tns:KeyValuePairOfintArrayOfSerialNoResultfhb8sRVK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfintArrayOfSerialNoResultfhb8sRVK" nillable="true" type="tns:ArrayOfKeyValuePairOfintArrayOfSerialNoResultfhb8sRVK" />
  <xs:complexType name="KeyValuePairOfintArrayOfSerialNoResultfhb8sRVK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfSerialNoResult" Namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" name="value" nillable="true" type="q1:ArrayOfSerialNoResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfintArrayOfSerialNoResultfhb8sRVK" nillable="true" type="tns:KeyValuePairOfintArrayOfSerialNoResultfhb8sRVK" />
</xs:schema>