Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P20WcfService/P20WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P20WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P20WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="GetF1929WithF1909Tests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF1929WithF1909TestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetF1929WithF1909TestsResult" nillable="true" type="q1:ArrayOfExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP200101ByAdjustType0">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f050301Datas" nillable="true" type="q2:ArrayOfF050301Data" />
        <xs:element minOccurs="0" name="workType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="causeMemo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP200101ByAdjustType0Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP200101ByAdjustType0Result" nillable="true" type="q3:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP200101ByAdjustType1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f1913Datas" nillable="true" type="q4:ArrayOfF1913Data" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="serialNoResults" nillable="true" type="q5:ArrayOfKeyValuePairOfintArrayOfSerialNoResultfhb8sRVK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP200101ByAdjustType1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP200101ByAdjustType1Result" nillable="true" type="q6:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF1913DataItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="importF1913Datas" nillable="true" type="q7:ArrayOfF1913DataImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF1913DataItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ImportF1913DataItemsResult" nillable="true" type="q8:ImportF1913DataResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>