Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/S16WcfService/S16WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderAllotParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DcCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecEDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecSDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GupCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderAllotParam" nillable="true" type="tns:OrderAllotParam" />
  <xs:complexType name="ExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
</xs:schema>