Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/R01WcfService/R01WcfService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSchF700501Data">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchF700501Data" nillable="true" type="tns:SchF700501Data" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchF700501Data" nillable="true" type="tns:ArrayOfSchF700501Data" />
  <xs:complexType name="SchF700501Data">
    <xs:sequence>
      <xs:element minOccurs="0" name="AREA_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="A_DELV_QTY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DC_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELV_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_COLOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_SIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_SPEC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WAREHOUSE_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchF700501Data" nillable="true" type="tns:SchF700501Data" />
  <xs:complexType name="ExecuteResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecuteResult" nillable="true" type="tns:ExecuteResult" />
</xs:schema>