Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/R01WcfService/R01WcfService47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" />
  <xs:element name="GetReplensihStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q1:BatchTransApiOrdersReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReplensihStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="GetReplensihStockResult" nillable="true" type="q2:ApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchOrderData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseDay1" type="xs:int" />
        <xs:element minOccurs="0" name="baseDay2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchOrderDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetSchOrderDataResult" nillable="true" type="q3:ArrayOfSchF700501Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchOrderNormalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schRunDay" type="xs:int" />
        <xs:element minOccurs="0" name="baseDay" type="xs:int" />
        <xs:element minOccurs="0" name="avgOrders" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchOrderNormalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetSchOrderNormalDataResult" nillable="true" type="q4:ArrayOfSchF700501Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchOrderAllData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchOrderAllDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetSchOrderAllDataResult" nillable="true" type="q5:ArrayOfSchF700501Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700501">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700501" nillable="true" type="q6:F700501" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF700501Result" nillable="true" type="q7:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>