Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/R01WcfService/R01WcfService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="R01WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
      <xsd:import schemaLocation="http://ewmsap/iWms.WebServices/R01WcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="R01WcfService_GetReplensihStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReplensihStock" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_GetReplensihStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReplensihStockResponse" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_GetSchOrderData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchOrderData" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_GetSchOrderData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchOrderDataResponse" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_GetSchOrderNormalData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchOrderNormalData" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_GetSchOrderNormalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchOrderNormalDataResponse" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_GetSchOrderAllData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchOrderAllData" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_GetSchOrderAllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchOrderAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_InsertF700501_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertF700501" />
  </wsdl:message>
  <wsdl:message name="R01WcfService_InsertF700501_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertF700501Response" />
  </wsdl:message>
  <wsdl:portType name="R01WcfService">
    <wsdl:operation name="GetReplensihStock">
      <wsdl:input wsaw:Action="http://tempuri.org/R01WcfService/GetReplensihStock" message="tns:R01WcfService_GetReplensihStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/R01WcfService/GetReplensihStockResponse" message="tns:R01WcfService_GetReplensihStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchOrderData">
      <wsdl:input wsaw:Action="http://tempuri.org/R01WcfService/GetSchOrderData" message="tns:R01WcfService_GetSchOrderData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/R01WcfService/GetSchOrderDataResponse" message="tns:R01WcfService_GetSchOrderData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchOrderNormalData">
      <wsdl:input wsaw:Action="http://tempuri.org/R01WcfService/GetSchOrderNormalData" message="tns:R01WcfService_GetSchOrderNormalData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/R01WcfService/GetSchOrderNormalDataResponse" message="tns:R01WcfService_GetSchOrderNormalData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchOrderAllData">
      <wsdl:input wsaw:Action="http://tempuri.org/R01WcfService/GetSchOrderAllData" message="tns:R01WcfService_GetSchOrderAllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/R01WcfService/GetSchOrderAllDataResponse" message="tns:R01WcfService_GetSchOrderAllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertF700501">
      <wsdl:input wsaw:Action="http://tempuri.org/R01WcfService/InsertF700501" message="tns:R01WcfService_InsertF700501_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/R01WcfService/InsertF700501Response" message="tns:R01WcfService_InsertF700501_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_R01WcfService" type="tns:R01WcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReplensihStock">
      <soap:operation soapAction="http://tempuri.org/R01WcfService/GetReplensihStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchOrderData">
      <soap:operation soapAction="http://tempuri.org/R01WcfService/GetSchOrderData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchOrderNormalData">
      <soap:operation soapAction="http://tempuri.org/R01WcfService/GetSchOrderNormalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchOrderAllData">
      <soap:operation soapAction="http://tempuri.org/R01WcfService/GetSchOrderAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertF700501">
      <soap:operation soapAction="http://tempuri.org/R01WcfService/InsertF700501" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="R01WcfService">
    <wsdl:port name="BasicHttpBinding_R01WcfService" binding="tns:BasicHttpBinding_R01WcfService">
      <soap:address location="http://ewmsap/iWms.WebServices/R01WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>