Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/R01WcfService/R01WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="F700501">
    <xs:sequence>
      <xs:element name="_x003C_CONTENT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CRT_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CRT_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DC_CODE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FILE_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IMPORTANCE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MESSAGE_ID_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_SCHEDULE_DATE_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_SCHEDULE_NO_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SCHEDULE_TIME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SCHEDULE_TYPE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_STATUS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SUBJECT_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_DATE_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_UPD_NAME_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UPD_STAFF_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="F700501" nillable="true" type="tns:F700501" />
</xs:schema>