Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P16WcfService/P16WcfService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Process.P16.ServiceEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Process.P16.ServiceEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemRtnQty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemRtnQty" nillable="true" type="tns:ItemRtnQty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemRtnQty" nillable="true" type="tns:ArrayOfItemRtnQty" />
  <xs:complexType name="ItemRtnQty">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RtnQty" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemRtnQty" nillable="true" type="tns:ItemRtnQty" />
</xs:schema>