Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P16WcfService/P16WcfService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P16WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P16WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Process.P16.ServiceEntites" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P16WcfService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P16WcfService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Shared.ServiceEntites" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P16WcfService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" />
  <xs:element name="ImportF1602Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="importData" nillable="true" type="q1:ArrayOfF1602ImportData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF1602DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ImportF1602DataResult" nillable="true" type="q2:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF1612ForHiiir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="importData" nillable="true" type="q3:ArrayOfF1612ImportData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF1612ForHiiirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ImportF1612ForHiiirResult" nillable="true" type="q4:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVendorRtnStack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Process.P16.ServiceEntites" minOccurs="0" name="itemRtnQtys" nillable="true" type="q5:ArrayOfItemRtnQty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVendorRtnStackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ValidateVendorRtnStackResult" nillable="true" type="q6:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP160101">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF161201" nillable="true" type="q7:F161201" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF161202s" nillable="true" type="q8:ArrayOfF161202" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP160101Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP160101Result" nillable="true" type="q9:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP160101">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="editF161201" nillable="true" type="q10:F161201" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="editF161202s" nillable="true" type="q11:ArrayOfF161202" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP160101Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP160101Result" nillable="true" type="q12:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF160201">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF160201" nillable="true" type="q13:F160201" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF161202s" nillable="true" type="q14:ArrayOfF160202" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF160201Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF160201Result" nillable="true" type="q15:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF160201">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="editF160201" nillable="true" type="q16:F160201" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="editF160202s" nillable="true" type="q17:ArrayOfF160202" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF160201Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF160201Result" nillable="true" type="q18:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF160204">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160204s" nillable="true" type="q19:ArrayOfF160204" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF160204Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF160204Result" nillable="true" type="q20:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP160102">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF161601" nillable="true" type="q21:F161601" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF161602s" nillable="true" type="q22:ArrayOfF161602" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertP160102Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertP160102Result" nillable="true" type="q23:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP160102">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="editF161601" nillable="true" type="q24:F161601" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="editF161602s" nillable="true" type="q25:ArrayOfF161602" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateP160102Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateP160102Result" nillable="true" type="q26:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF160501s">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160501" nillable="true" type="q27:F160501" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="detailData" nillable="true" type="q28:ArrayOfF160502Data" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="serialData" nillable="true" type="q29:ArrayOfF160502Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF160501sResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF160501sResult" nillable="true" type="q30:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF160501s">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160501" nillable="true" type="q31:F160501" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="detailData" nillable="true" type="q32:ArrayOfF160502Data" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="serialData" nillable="true" type="q33:ArrayOfF160502Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF160501sResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF160501sResult" nillable="true" type="q34:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF160501s">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160501" nillable="true" type="q35:F160501" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF160501sResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF160501sResult" nillable="true" type="q36:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P160501Shipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f160501Data" nillable="true" type="q37:F160501Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="P160501ShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="P160501ShipmentResult" nillable="true" type="q38:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF161201">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF161201" nillable="true" type="q39:F161201" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="addF161202s" nillable="true" type="q40:ArrayOfF161202" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF161201Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF161201Result" nillable="true" type="q41:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScrapDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160401" nillable="true" type="q42:F160401" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160402s" nillable="true" type="q43:ArrayOfF160402" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScrapDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="SaveScrapDetailsResult" nillable="true" type="q44:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF160402ScrapSum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scrapNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wareHouseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF160402ScrapSumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetF160402ScrapSumResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF160402ScrapData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scrapNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="wareHouseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetF160402ScrapDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="GetF160402ScrapDataResult" nillable="true" type="q45:ArrayOfF160402" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveScrapDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160401" nillable="true" type="q46:F160401" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F16" minOccurs="0" name="f160402s" nillable="true" type="q47:ArrayOfF160402" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Shared.ServiceEntites" minOccurs="0" name="srcItemLocQtyItems" nillable="true" type="q48:ArrayOfSrcItemLocQtyItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveScrapDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ApproveScrapDetailsResult" nillable="true" type="q49:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF160503">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="serialData" nillable="true" type="q50:ArrayOfF160501FileData" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="fileData" nillable="true" type="q51:ArrayOfF160501FileData" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="fileDeleteData" nillable="true" type="q52:ArrayOfF160501FileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF160503Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF160503Result" nillable="true" type="q53:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF1612Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="importData" nillable="true" type="q54:ArrayOfF1612ImportData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportF1612DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ImportF1612DataResult" nillable="true" type="q55:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckItemLocTmpr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="warehouseId" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="checkDatas" nillable="true" type="q56:ArrayOfF161601DetailDatas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckItemLocTmprResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="CheckItemLocTmprResult" nillable="true" type="q57:ArrayOfExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyVendorReturnOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rtnWmsNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryWay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sheetNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyVendorReturnOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="ApplyVendorReturnOrderResult" nillable="true" type="q58:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorReturnOrderFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rePrint" type="xs:int" />
        <xs:element minOccurs="0" name="sno" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorReturnOrderFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetVendorReturnOrderFileResult" nillable="true" type="q59:ExecuteLmsPdfApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorReturnOrderDetailFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="order_no" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rePrint" type="xs:int" />
        <xs:element minOccurs="0" name="sno" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVendorReturnOrderDetailFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="GetVendorReturnOrderDetailFileResult" nillable="true" type="q60:ExecuteLmsPdfApiResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelF075103s">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custOrdCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelF075103sResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DelF075103sResult" nillable="true" type="q61:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistibuteInfoAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q62:DistibuteInfoAsyncReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DistibuteInfoAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DistibuteInfoAsyncResult" nillable="true" type="q63:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SealingInfoAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gupCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" minOccurs="0" name="req" nillable="true" type="q64:SealingInfoAsyncReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SealingInfoAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="SealingInfoAsyncResult" nillable="true" type="q65:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>