Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P16WcfService/P16WcfService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Shared.ServiceEntites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.WebServices.Shared.ServiceEntites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSrcItemLocQtyItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SrcItemLocQtyItem" nillable="true" type="tns:SrcItemLocQtyItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSrcItemLocQtyItem" nillable="true" type="tns:ArrayOfSrcItemLocQtyItem" />
  <xs:complexType name="SrcItemLocQtyItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxCtrlNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENTER_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PalletCtrlNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qty" type="xs:int" />
      <xs:element minOccurs="0" name="SugLocCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SugWarehouseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TarVnrCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TarWarehouseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALID_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WarehouseId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SrcItemLocQtyItem" nillable="true" type="tns:SrcItemLocQtyItem" />
</xs:schema>