Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P16WcfService/P16WcfService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.ApiEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DistibuteInfoAsyncReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="OperationUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutboundNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkStationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistibuteInfoAsyncReq" nillable="true" type="tns:DistibuteInfoAsyncReq" />
  <xs:complexType name="SealingInfoAsyncReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="OperationUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutboundNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkStationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SealingInfoAsyncReq" nillable="true" type="tns:SealingInfoAsyncReq" />
</xs:schema>