Client/Core/Wms3pl.WpfClient.ExDataServices/Service References/P70WcfService/P70WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P70WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" />
  <xs:import schemaLocation="http://ewmsap/iWms.WebServices/P70WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" />
  <xs:element name="InsertF700101">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700101" nillable="true" type="q1:F700101" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f700102s" nillable="true" type="q2:ArrayOfF700102Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700101Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF700101Result" nillable="true" type="q3:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700101">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700101" nillable="true" type="q4:F700101" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="f700102s" nillable="true" type="q5:ArrayOfF700102Data" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700101Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF700101Result" nillable="true" type="q6:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF700101">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700101" nillable="true" type="q7:F700101" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF700101Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF700101Result" nillable="true" type="q8:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF700101ByDistrCarNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="distrCarNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dcCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteF700101ByDistrCarNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="DeleteF700101ByDistrCarNoResult" nillable="true" type="q9:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700201">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700201" nillable="true" type="q10:F700201" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700201Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF700201Result" nillable="true" type="q11:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700201">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="f700201" nillable="true" type="q12:F700201" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700201Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF700201Result" nillable="true" type="q13:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700501">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="addF700501" nillable="true" type="q14:F700501" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="addF70050101s" nillable="true" type="q15:ArrayOfF70050101" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertF700501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="InsertF700501Result" nillable="true" type="q16:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700501">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="editF700501" nillable="true" type="q17:F700501" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.F70" minOccurs="0" name="editF70050101s" nillable="true" type="q18:ArrayOfF70050101" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateF700501Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wms3pl.Datas.Shared.Entities" minOccurs="0" name="UpdateF700501Result" nillable="true" type="q19:ExecuteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>